<div>
    <br/>
    <section class="form-inline">
        <button ng-click="limpiar()" class="btn btn2 btn-default pull-right">Limpiar filtro</button>
        <button type="button" class="btn btn2 btn-primary pull-right" ng-model="filtro" btn-checkbox>
            <span class="glyphicon glyphicon-filter"></span>
        </button>
        <button ng-click="agregar()" class="btn btn2 btn-primary"><i class="icon-white icon-plus"></i> Agregar base</button>
    </section>
    <br/>
    <table ng-table="tabBase"  show-filter="filtro" class="table table-striped">
        <tr ng-repeat="base in $data">
            <td data-title="'Tipo'"  sortable="'nombreTipo'" width="25" filter="{ 'nombreTipo': 'text' }">
                <span >{{base.nombreTipo}}</span>
            </td>
            <td data-title="'Proyecto'" sortable="'nombreProyecto'" width="25" filter="{ 'nombreProyecto': 'text' }">
                <span >{{base.nombreProyecto}}</span>
            </td>
            <td data-title="'Fecha de apobación'" sortable="'fechaAp'" width="300" filter="{ 'fechaAp': 'text' }">
                <span >{{base.fechaAp}}</span>
            </td>
            <td data-title="'Acciones'" width="50">
                <a ng-click="editar(prec.id); prec.$edit = true" class="btn btn-primary btn-xs" ><span class="glyphicon glyphicon-eye-open"></span></a>
            </td>
        </tr>
    </table>
</div>


<script type="text/ng-template" id="modalBase">
	<div>
        <div class="modal-header">
             <h3 class="modal-title">Ingrese los datos de la base</h3>
        </div>
		<div class="modal-body">
			<form novalidate name="formOpcion" >
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="tipo">Tipo </label>
                            <select ng-init="base.tipo_base = 'P'" ng-model="base.tipo_base" id="tipo" class="form-control" required="">
                                <option value="P" >Precalificación</option>
                                <option value="L">Licitación</option>
                            </select>
                        </div>
                    </div>
                </div>
				<div class="row">
					<div class="col-md-6">
                        <div class="form-group">
							<label for="proyecto">Proyecto</label>
                            <select ng-disabled="disable" ng-options="i.id as i.nombre for i in proyectos" ng-model="base.idProyecto" id="proyecto"  class="form-control"></select>
						</div>
						<div class="form-group">
							<label for="aprobacion">Documento de Aprobación</label>
                            <select ng-disabled="disable" ng-options="i.id as i.nombre for i in documentos" ng-model="base.idDoc" id="aprobacion"  class="form-control"></select>
						</div>
						<div class="form-group">
							<label for="anexos">Anexos</label>
							<input ng-disabled="disable" ng-model="base.num_anexos" type="number" class="form-control" id="anexos" placeholder="Cantidad de Anexos" required/>
						</div>
						<div class="form-group">
							<label for="folios">Folios</label>
							<input ng-disabled="disable" ng-model="base.num_folios" type="number" class="form-control" id="folios" placeholder="Número de folios" required/>
						</div>
					</div>
					<div class="col-md-6">
                        <div class="form-group">
                            <label >Fecha de Aprobación ICE</label>
                            <div class="col-md-12 fecha ">
                                <select ng-disabled="disable"  ng-init="base.diaICE = today.day" ng-options="i for i in dias" ng-model="base.diaICE"  class="form-control"></select>
                                <select ng-disabled="disable" ng-init="base.mesICE = today.month" ng-options="i.id as i.nombre for i in meses" ng-model="base.mesICE" class="form-control"></select>
                                <select ng-disabled="disable" ng-init="base.anioICE = today.year" ng-options="i for i in anios" ng-model="base.anioICE" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label >Fecha de Aprobación ANADIE</label>
                            <div class="col-md-12 fecha ">
                                <select ng-disabled="disable" ng-init="base.diaAN = today.day" ng-options="i for i in dias" ng-model="base.diaAN" class="form-control"></select>
                                <select ng-disabled="disable" ng-init="base.mesAN = today.month" ng-options="i.id as i.nombre for i in meses" ng-model="base.mesAN" class="form-control"></select>
                                <select ng-disabled="disable" ng-init="base.anioAN = today.year" ng-options="i for i in anios" ng-model="base.anioAN" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label >Fecha de Aprobación CONADIE</label>
                            <div class="col-md-12 fecha ">
                                <select ng-disabled="disable" ng-init="base.diaCON = today.day" ng-options="i for i in dias" ng-model="base.diaCON" id="dia" class="form-control"></select>
                                <select ng-disabled="disable" ng-init="base.mesCON = today.month" ng-options="i.id as i.nombre for i in meses" ng-model="base.mesCON" id="mes" class="form-control"></select>
                                <select ng-disabled="disable" ng-init="base.anioCON = today.year" ng-options="i for i in anios" ng-model="base.anioCON" id="anios" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ices">ICEs</label>
                            <div ng-if="!disable" class="input-group">
                                <select  name="ices" class="form-control" ng-options="i as ice.nombre for (i,ice) in ices" id="ices" ng-model="base.ice"></select>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" ng-disabled="base.ice == undefined" ng-click="agregarICE(base.ice)"><span class="glyphicon glyphicon-plus"></span></button>
                                </span>
                            </div>
                        </div>
                        <div>
                            <ul class="list-group" >
                                <li ng-if="base.icesTemp.length > 0 " ng-repeat="ice in base.icesTemp" class="list-group-item">
                                    {{ice.nombre}}
                                    <button ng-if="!disable" type="button" ng-click="eliminarOpcion($index)"  class="btn btn-danger btn-xs">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </li>
                               <!-- <li ng-if="newOpcionesRol.length > 0" ng-repeat="opcion in newOpcionesRol" class="list-group-item">
                                    {{opcion.opcion}}
                                    <button type="button" ng-click="eliminarOpcion(opcion.idopcion)" class="btn btn-danger btn-xs">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </li>-->
                            </ul>
                        </div>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn2 btn-primary" ng-disabled="!formOpcion.$valid" ng-click="ok()">Aceptar</button>
			<button class="btn btn2 btn-warning" ng-click="cancel()">Cancelar</button>
		</div>
	</div>
</script>