<div>
    <tabset>
        <tab ng-repeat="tab in tabs" heading="{{tab.nombre}}"><div ng-include="'client/app/administracion/subopcion/' + tab.nombre.toLowerCase() + '.html'"></div></tab>
    </tabset>
    <script type="text/ng-template" id="modelOpciones">
        <div>
            <div class="modal-header">
                <h3 class="modal-title">Ingrese los datos</h3>
            </div>
            <div class="modal-body">
                <form novalidate name="formOpcion" >
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input ng-model="opcion.nombre" type="text" class="form-control" id="nombre" placeholder="Nombre" required/>
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripcion</label>
                        <input ng-model="opcion.descripcion" id="descripcion" class="form-control" type="text" placeholder="Descripcion" required/>
                    </div>
                    <div class="form-group">
                        <label for="titulo">Titulo</label>
                        <input ng-model="opcion.titulo" id="titulo" class="form-control" type="text" placeholder="Titulo" required/>
                    </div>
                    <div class="form-group">
                        <label for="tipo">Tipo</label>
                        <select class="form-control" ng-options="item.id as item.nombreTipo for item in tipos" ng-model="opcion.idTipo" name="tipo" id="tipo" required></select>
                    </div>
                    <div class="form-group">
                        <label for="padre">Padre</label>
                        <select ng-disabled="!padres" ng-options="item.id as item.nombre for item in padres" ng-model="opcion.idPadre" id="padre" type="number" class="form-control" placeholder="Padre"></select>
                    </div>
                    <div class="form-group">
                        <label for="orden">Orden</label>
                        <input ng-model="opcion.orden" id="orden" class="form-control" type="text" placeholder="Orden" required/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-disabled="!formOpcion.$valid" ng-click="ok()">Aceptar</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="modelUsuarios">
        <div>
            <div class="modal-header">
                <h3 class="modal-title">Ingrese los datos</h3>
            </div>
            <div class="modal-body">
                <form novalidate name="formOpcion" >
                    <div class="form-group">
                        <label for="nombre">Nombre de usuario</label>
                        <input ng-model="usuario.nombre" type="text" class="form-control" id="nombre" placeholder="Nombre de usuario" required/>
                    </div>
                    <div class="form-group">
                        <label for="nombres">Nombres</label>
                        <input ng-model="usuario.nombres" id="nombres" class="form-control" type="text" placeholder="Nombres" required/>
                    </div>
                    <div class="form-group">
                        <label for="apellidos">Apellidos</label>
                        <input ng-model="usuario.apellidos" id="apellidos" class="form-control" type="text" placeholder="Apellidos" required/>
                    </div>
                    <div class="form-group" ng-if="contrasena">
                        <label for="clave">Contraseña</label>
                        <input ng-model="usuario.clave" id="clave" class="form-control" type="text" placeholder="Contraseña" required/>
                    </div>
                    <div class="form-group">
                        <label for="rol">Rol</label>
                        <select class="form-control" ng-options="item.id as item.nombre for item in roles" ng-model="usuario.idrol" name="rol" id="rol" required></select>
                    </div>
                    <div class="form-group">
                        <label for="idorganizacion">Organizacion</label>
                        <select  ng-model="usuario.idorganizacion" ng-options="item.id as item.nombre for item in organizaciones" id="idorganizacion" class="form-control" type="number" placeholder="Organizacion" required></select>
                    </div>
                    <div class="form-group">
                        <label for="estado">Estado</label>
                        <select class="form-control" ng-options="item.id as item.nombre for item in estados" ng-model="usuario.estado" name="estado" id="estado" required></select>
                    </div>
                    <div class="form-group">
                        <label for="email">Correo</label>
                        <input ng-model="usuario.email" id="email" class="form-control" type="text" placeholder="Correo" required/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-disabled="!formOpcion.$valid" ng-click="ok()">Aceptar</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="modelRoles">
        <div>
            <div class="modal-header">
                <h3 class="modal-title">Ingrese los datos</h3>
            </div>
            <div class="modal-body">
                <form novalidate name="formRol" >
                    <div class="form-group">
                        <label for="nombre">Nombre de rol</label>
                        <input ng-model="rol.nombre" type="text" class="form-control" id="nombre" placeholder="Nombre de rol" required/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-disabled="!formRol.$valid" ng-click="ok()">Aceptar</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
            </div>
        </div>
    </script>
</div>