<div>
    <tabset>
        <tab ng-repeat="tab in tabs" heading="{{tab.nombre}}"><div ng-include="'client/app/administracion/' + tab.nombre.toLowerCase() + '.html'"></div></tab>
    </tabset>
    <script type="text/ng-template" id="modelOpciones">
        <div>
            <div class="modal-header">
                <h3 class="modal-title">Ingrese los datos</h3>
            </div>
            <div class="modal-body">
                <form novalidate name="formOpcion" >
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input ng-model="opcion.nombre" type="text" class="form-control" id="nombre" placeholder="Nombre" required/>
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripcion</label>
                        <input ng-model="opcion.descripcion" id="descripcion" class="form-control" type="text" placeholder="Descripcion" required/>
                    </div>
                    <div class="form-group">
                        <label for="titulo">Titulo</label>
                        <input ng-model="opcion.titulo" id="titulo" class="form-control" type="text" placeholder="Titulo" required/>
                    </div>
                    <div class="form-group">
                        <label for="tipo">Tipo</label>
                        <select class="form-control" ng-options="item.id as item.nombreTipo for item in tipos" ng-model="opcion.idTipo" name="tipo" id="tipo" required></select>
                    </div>
                    <div class="form-group">
                        <label for="padre">Padre</label>
                        <select ng-disabled="!padres" ng-options="item.id as item.nombre for item in padres" ng-model="opcion.idPadre" id="padre" type="number" class="form-control" placeholder="Padre"></select>
                    </div>
                    <div class="form-group">
                        <label for="orden">Orden</label>
                        <input ng-model="opcion.orden" id="orden" class="form-control" type="text" placeholder="Orden" required/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-disabled="!formOpcion.$valid" ng-click="ok()">Aceptar</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
            </div>
        </div>
    </script>
</div>