<div>
    <br/>
    <section class="form-inline">
        <button ng-click="limpiar()" class="btn btn2 btn-default pull-right">Limpiar filtro</button>
        <button type="button" class="btn btn2 btn-primary pull-right" ng-model="filtro" btn-checkbox>
            <span class="glyphicon glyphicon-filter"></span>
        </button>
        <button ng-click="agregar()" class="btn btn2 btn-primary"><i class="icon-white icon-plus"></i> Agregar opcion</button>
    </section>
    <br/>
    <table ng-table="tableOpciones"  show-filter="filtro" class="table table-striped">
        <tr ng-repeat="opcion in $data">
            <td data-title="'Nombre'" sortable="'nombre'" filter="{ 'nombre': 'text' }">
                <span >{{opcion.nombre}}</span>
            </td>
            <td data-title="'Descripcion'" sortable="'descripcion'" width="330" filter="{ 'descripcion': 'text' }">
                <span >{{opcion.descripcion}}</span>
            </td>
            <td data-title="'Tipo'"  sortable="'nombreTipo'" width="150" filter="{ 'nombreTipo': 'text' }">
                <span >{{opcion.nombreTipo}}</span>
            </td>
            <td data-title="'Orden'"  sortable="'orden'" width="50"  filter="{ 'orden': 'text' }">
                <span >{{opcion.orden}}</span>
            </td>
            <td data-title="'Padre'"  sortable="'idPadre'" width="50" filter="{ 'idPadre': 'text' }">
                <span >{{opcion.idPadre}}</span>
            </td>
            <td data-title="'Acciones'" width="50">
                <a ng-click="editar(opcion.id); opcion.$edit = true" class="btn btn-primary btn-xs" ><span class="glyphicon glyphicon-pencil"></span></a>
                <a ng-click="eliminar(opcion.id,$index)" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
        </tr>
    </table>
    <script type="text/ng-template" id="modelOpciones">
        <div>
            <div class="modal-header">
                <h3 class="modal-title">Ingrese los datos</h3>
            </div>
            <div class="modal-body">
                <form novalidate name="formOpcion" >
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input ng-model="opcion.nombre" type="text" class="form-control" id="nombre" placeholder="Nombre" required/>
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripcion</label>
                        <input ng-model="opcion.descripcion" id="descripcion" class="form-control" type="text" placeholder="Descripcion" required/>
                    </div>
                    <div class="form-group">
                        <label for="titulo">Titulo</label>
                        <input ng-model="opcion.titulo" id="titulo" class="form-control" type="text" placeholder="Titulo" required/>
                    </div>
                    <div class="form-group">
                        <label for="tipo">Tipo</label>
                        <select class="form-control" ng-options="item.id as item.nombreTipo for item in tipos" ng-model="opcion.idTipo" name="tipo" id="tipo" required></select>
                    </div>
                    <div class="form-group">
                        <label for="padre">Padre</label>
                        <select ng-disabled="!padres" ng-options="item.id as item.nombre for item in padres" ng-model="opcion.idPadre" id="padre" type="number" class="form-control" placeholder="Padre"></select>
                    </div>
                    <div class="form-group">
                        <label for="orden">Orden</label>
                        <input ng-model="opcion.orden" id="orden" class="form-control" type="text" placeholder="Orden" required/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-disabled="!formOpcion.$valid" ng-click="ok()">Aceptar</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
            </div>
        </div>
    </script>
</div>