@import "../bower_components/bootstrap/dist/css/bootstrap.css";
@import "../bower_components/angularjs-toaster/toaster.css";
body {
  background: #e6e6e6;
}
body header,
body .main,
body footer {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
}
body .main .articles {
  width: 68.5%;
  margin-right: 1.5%;
  float: left;
}
body .main .articles article {
  padding: 20px;
  background: #fff;
  margin-bottom: 20px;
}
body article {
  padding: 20px;
  background: #fff;
  margin-bottom: 20px;
}
body footer {
  background: #000;
  color: #fff;
  clear: both;
  padding: 10px 0px;
  text-align: center;
}
.navbar nav {
  background: #528fd5;
  overflow: hidden;
}
.navbar nav ul {
  list-style: none;
}
.navbar nav ul li {
  float: left;
}
.navbar nav ul li a {
  padding: 10px 20px;
  display: block;
  color: #fff;
  text-decoration: none;
}
.navbar nav ul li a:hover {
  background: #75acec;
}
aside {
  width: 30%;
  background: #ff8000;
  float: left;
  padding: 20px 10px;
  border: 5px solid #fff;
  box-sizing: border-box;
}
