<div>
    <br/>
    <section class="form-inline">
        <br/>
        <table ng-table="tablePreguntas"  show-filter="filtro" class="table table-striped">
            <tr class="tr animate-repeat preguntas" ng-repeat="i in $data"  ng-class="getColor(i.fecha_crea,i.estado)">
                <td data-title="'Pregunta'" sortable="'pregunta'" width="600" filter="{ 'pregunta': 'text' }">
                    {{i.pregunta}}
                </td>
                <td data-title="'fecha'" sortable="'fecha_crea'" width="300" filter="{ 'fecha_crea': 'text' }">
                    {{i.fecha_crea | moment:'DD/MM/YYYY h:mma' }}
                </td>
                <td data-title="'Estado'" sortable="'est'" width="300" filter="{ 'est': 'text' }">
                    {{i.est}}
                </td>
                <td data-title="''" width="80">
                    <button type="button"  class="btn btn-primary btn-xs" ng-click="pdfRespuesta(i.id)">
                        <span class="glyphicon glyphicon-file"></span>
                    </button>
                    <button type="button"  class="btn btn-primary btn-xs" ng-click="irPregunta(i.id_doc_det,i.id_objeto)">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </button>
                </td>
            </tr>
        </table>
    </section>
</div>