<header class="head navbar" ng-controller="NavbarCtrl">
    <div class="logotipo">
        <img src="client/assets/imagenes/logo1.png" width="200" alt="">
		<img src="client/assets/imagenes/logo2.png" width="200" align="right">
        <div class="pull-right">
            <button ng-if="$root.usuario" class="pull-right btn btn-default btn-xs" ng-click="logout()">Salir</button>
            <div>{{$root.usuario.nombre}}</div>
        </div>
    </div>
    <nav>
        <ul>
            <li class="inicio">
                <a ui-sref="main">Inicio</a>
            </li>
            <li ng-repeat="item in $root.opciones" menu-item="item">{{item}}</li>
            <li class="contacto pull-right">
                <a ui-sref="contacto">Aviso legal</a>
            </li>
        </ul>
    </nav>
</header>