.navbar
  nav
    background #528FD5
    overflow  hidden
    ul
      list-style none
      margin 0
      padding 0
      li
        float left
        a
          padding 10px 20px
          display block
          color #fff
          text-decoration none
          &:hover
            background #75ACEC
