.btn-group:hover>.dropdown-menu {
  display: block;
}
.inter{
  left: 100%
}
.preview-evento
  margin-right  50px
  margin-bottom -70px
  z-index 6
nav
  //background #528FD5
  width: 100%;
  height: 40px;
  z-index 4
  position relative
  ul
    list-style none
    margin 0
    padding 0
    li
      float left
      transition all 0.3s
      &:hover
        background white
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        & > button,a
          color black !important
        & > a
          text-decoration: none;
          border 0
      a,a:active,a:hover,a:focus
        color white
        text-decoration: none;
      button,a
        display block
        padding 10px 20px
        color #fff
        text-decoration none
        background transparent
        border none
      ul.dropdown-menu
        width: auto//100%;
        border: 1px solid white;
        min-width: 0px;
        margin-top 0
        border-radius initial
        li
          width 100%
          &:hover
            box-shadow: 0 0 0
          button
            white-space: nowrap;
            color black
            padding: 3px 20px;
            padding-right: 10px;
          ul
            top: 0;
            left: 100%;

/*.navbar
  nav
    background #528FD5
    //overflow  hidden
    width: 100%;
    height: 40px;
    ul
      list-style none
      margin 0
      padding 0
      li
        float left
        a
          padding 10px 20px
          display block
          color #fff
          text-decoration none
          &:hover
            background #75ACEC*/
