.btn-group:hover>.dropdown-menu {
  display: block;
}
.inter{
  left: 100%
}
nav
  background #528FD5
  width: 100%;
  height: 40px;
  ul
    list-style none
    margin 0
    padding 0
    li
      float left
      button,a
        display block
        padding 10px 20px
        color #fff
        text-decoration none
        background transparent
        border none
      a:hover
        color #fff
        border 0
        text-decoration: none;
      ul.dropdown-menu
        margin-top 0
        border-radius initial
        li.submenu
          width 100%
/*.navbar
  nav
    background #528FD5
    //overflow  hidden
    width: 100%;
    height: 40px;
    ul
      list-style none
      margin 0
      padding 0
      li
        float left
        a
          padding 10px 20px
          display block
          color #fff
          text-decoration none
          &:hover
            background #75ACEC*/
