<header class="head navbar" ng-controller="NavbarCtrl">
    <div class="logotipo">
        <img src="client/assets/imagenes/logo1.png" width="200" alt="">
		<img src="client/assets/imagenes/logo2.png" width="200" align="right">
        <div class="pull-right">
        </div>
    </div>
    <nav>
        <ul>
            <li class="inicio">
                <a ui-sref="main">Inicio</a>
            </li>
            <li ng-repeat="item in $root.opciones" menu-item="item">{{item}}</li>
            <li ng-if="$root.usuario"  uib-dropdown class="btn-group pull-right">
                <button>{{$root.usuario.nombre | capitalize}} <span class="caret"></span></button>
                <ul role="menu" class="dropdown-menu">
                    <li>
                        <a ng-click="logout()">Salir</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <a ng-click="cambiarPass()">Cambiar contraseña</a>
                    </li>
                </ul>

            </li>
            <li class="contacto pull-right">
                <a ui-sref="contacto">Aviso legal</a>
            </li>
        </ul>
    </nav>
</header>
<script type="text/ng-template" id="modal.pass">
    <div class="modal-header">
        <h3 class="modal-title">Cambiar contraseña</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="curretPass">Contraseña actual</label>
            <input ng-model="currentPass" type="password" class="form-control" id="curretPass" placeholder="Contraseña actual" required/>
        </div>
        <div class="form-group">
            <label for="newPass">Nueva contraseña</label>
            <input ng-model="newPass" type="password" class="form-control" id="newPass" placeholder="Nueva contraseña" required/>
        </div>
        <div class="form-group">
            <label for="tempPass">Repita su contraseña</label>
            <input ng-model="tempPass" type="password" class="form-control" id="tempPass" placeholder="Nueva contraseña" required/>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn2 btn-primary" ng-click="cambiar()">Cambiar</button>
        <button class="btn btn2 btn-warning" ng-click="cancel()">Cancelar</button>
    </div>
</script>