<div >
    <br/>
    <section class="form-inline">
        <button ng-click="limpiar()" class="btn btn-default pull-right">Limpiar filtro</button>
        <button type="button" class="btn btn-primary pull-right" ng-model="filtro" btn-checkbox>
            <span class="glyphicon glyphicon-filter"></span>
        </button>
        <button ng-click="agregar()" class="btn btn-primary"><i class="icon-white icon-plus"></i> Agregar Organizacion</button>
    </section>
    <br/>
    <table ng-table="tableOrganizacion"  show-filter="filtro" class="table table-striped">
        <tr ng-repeat="rol in $data">
            <td data-title="'Nombre'" sortable="'nombre'" filter="{ 'nombre': 'text' }">
                <span >{{organizacion.nombre}}</span>
            </td>
            <td data-title="'Acciones'" width="125">
                <a ng-click="editar(organizacion.id); organizcion.$edit = true" class="btn btn-primary btn-xs" >Editar</a>
                <a ng-click="eliminar(organizacion.id,$index)" class="btn btn-default btn-xs">Eliminar</a>
            </td>
        </tr>
    </table>
</div>