<div>
    <br/>
    <section class="form-inline">
        <button ng-click="limpiar()" class="btn btn2 btn-default pull-right">Limpiar filtro</button>
        <button type="button" class="btn btn2 btn-primary pull-right" ng-model="filtro" btn-checkbox>
            <span class="glyphicon glyphicon-filter"></span>
        </button>
        <button ng-click="agregar()" class="btn btn2 btn-primary"><i class="icon-white icon-plus"></i> Agregar Precalificado</button>
    </section>
    <br/>
    <table ng-table="tabPrecalificado"  show-filter="filtro" class="table table-striped">
        <tr ng-repeat="prec in $data">
            <td data-title="'Tipo'"  sortable="'nombreTipo'" width="25" filter="{ 'nombreTipo': 'text' }">
                <span >{{prec.precalificado}}</span>
            </td>
            <td data-title="'Persona/Empresa'" sortable="'tipo_persona'" width="25" filter="{ 'tipo_persona': 'text' }">
                <span >{{prec.tipo_persona}}</span>
            </td>
            <td data-title="'Nombre'" sortable="'nombre'" width="300" filter="{ 'nombre': 'text' }">
                <span >{{prec.nombre}}</span>
            </td>
            <td data-title="'Domicilio'"  sortable="'orden'" width="200"  filter="{ 'Domicilio': 'text' }">
                <span >{{prec.Domicilio}}</span>
            </td>
            <td data-title="'Acciones'" width="50">
                <a ng-click="editar(prec.id); prec.$edit = true" class="btn btn-primary btn-xs" ><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
        </tr>
    </table>
</div>
<script type="text/ng-template" id="modalPrecalificado">
	<div>
        <div class="modal-header">
             <h3 class="modal-title">Ingrese los datos del precalificado</h3>
        </div>
		<div class="modal-body">
			<form novalidate name="formOpcion" >
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label><input type="radio" ng-model="rdtipo" ng-init="rdtipo='persona'" id="persona" name="tipo" value="persona" checked="checked">Persona</label>

						</div>
						<div class="form-group">
							<label for="nombre">Nombre</label>
							<input ng-disabled="disable" ng-model="precalificado.nombre" type="text" class="form-control" id="nombre" placeholder="Nombre" required/>
						</div>
						<div class="form-group">
							<div ng-show="rdtipo == 'persona'">
								<label for="nombre">DPI</label>
								<input ng-disabled="disable" ng-model="precalificado.DPI" type="text" class="form-control" id="DPI" placeholder="DPI" required/>
							</div>
							<div ng-show="rdtipo == 'empresa'">
								<label for="nombre">Razon Social</label>
								<input ng-disabled="disable" ng-model="precalificado.razonsocial" type="text" class="form-control" id="razonsocial" placeholder="Razon Social" required/>
							</div> 						
						</div>
						<div class="form-group">
						    <div ng-show="rdtipo == 'persona'">
								<label for="nombre">Pais de Nacionalidad</label>
								<input ng-disabled="disable" ng-model="precalificado.paisnac" type="text" class="form-control" id="paisnac" placeholder="Pais de Nacionalidad" required/>
							</div>
							<div ng-show="rdtipo == 'empresa'">
								<label for="nombre">Oficina principal o Sucursal</label>
								<input ng-disabled="disable" ng-model="precalificado.oficina" type="text" class="form-control" id="oficina" placeholder="Oficina principal o Sucursal" required/>
							</div>
						</div>
						<div class="form-group">
							<label for="nombre">Domicilio</label>
							<input ng-disabled="disable" ng-model="precalificado.domicilio" type="text" class="form-control" id="domicilio" placeholder="Domicilio" required/>
						</div>
						<div class="form-group">
							<label for="nombre">Dirección para recibir notificaciones</label>
							<input ng-disabled="disable" ng-model="precalificado.direccion" type="text" class="form-control" id="direccion" placeholder="Dirección para notificaciones" required/>
						</div>
						<div class="form-group">
							<label for="nombre">Teléfono</label>
							<input ng-disabled="disable" ng-model="precalificado.telefono" type="text" class="form-control" id="telefono" placeholder="Teléfono" required/>
						</div>
						<div class="form-group">
							<label for="nombre">Especialidades que desea se le asigne</label>
							<input ng-disabled="disable" ng-model="precalificado.especialidades" type="text" class="form-control" id="especialidades" placeholder="Especialidades" required/>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label><input type="radio" id="empresa" name="tipo" ng-model="rdtipo" value="empresa">Empresa</label>
						</div>
						<div class="form-group">
							<label for="nombre">NIT</label>
							<input ng-disabled="disable" ng-model="precalificado.nit" type="text" class="form-control" id="nit" placeholder="NIT" required/>
						</div>
						<div class="form-group">
							<label for="nombre">Correo electrónico</label>
							<input ng-disabled="disable" ng-model="precalificado.email" type="text" class="form-control" id="email" placeholder="Correo electrónico" required/>
						</div>
						<div class="form-group">
							<div ng-show="rdtipo == 'persona'">
								<label for="nombre">Pasaporte</label>
								<input ng-disabled="disable" ng-model="precalificado.pasaporte" type="text" class="form-control" id="pasaporte" placeholder="Número de Pasaporte" required/>
							</div>
							<div ng-show="rdtipo == 'empresa'">
								<label for="nombre">Datos del</label><br>
								<label for="nombre">Representante Legal</label><br>
							</div>
						</div>
						<div class="form-group">
							<div ng-show="rdtipo == 'empresa'">
								<label for="nombre">DPI</label>
								<input ng-disabled="disable" ng-model="precalificado.DPI" type="text" class="form-control" id="DPI" placeholder="DPI" required/>
							</div>
						</div>
						<div class="form-group">
							<div ng-show="rdtipo == 'empresa'">
								<label for="nombre">Pais de Nacionalidad</label>
								<input ng-disabled="disable" ng-model="precalificado.paisnac" type="text" class="form-control" id="paisnac" placeholder="Pais de Nacionalidad" required/>
							</div>
						</div>
						<div class="form-group">
							<div ng-show="rdtipo == 'empresa'">
								<label for="nombre">Pasaporte</label>
								<input ng-disabled="disable" ng-model="precalificado.pasaporte" type="text" class="form-control" id="pasaporte" placeholder="Número de Pasaporte" required/>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-disabled="" ng-click="ok()">Aceptar</button>
			<button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
		</div>
	</div>
</script>