<div>
    <br/>
    <section class="form-inline">
        <button ng-click="limpiar()" class="btn btn2 btn-default pull-right">Limpiar filtro</button>
        <button type="button" class="btn btn2 btn-primary pull-right" ng-model="filtro" btn-checkbox>
            <span class="glyphicon glyphicon-filter"></span>
        </button>
        <button ng-click="agregar()" class="btn btn2 btn-primary"><i class="icon-white icon-plus"></i> Agregar Resolución</button>
    </section>
    <br/>
    <table ng-table="tabResolucion"  show-filter="filtro" class="table table-striped">
        <tr ng-repeat="res in $data">
            <td data-title="'Organo'"  sortable="'organo'" width="25" filter="{ 'organo': 'text' }">
                <span >{{res.organo}}</span>
            </td>
            <td data-title="'Documento'" sortable="'nombre_doc'" width="25" filter="{ 'nombre_doc': 'text' }">
                <span >{{res.nombre_doc}}</span>
            </td>			
            <td data-title="'Número'" sortable="'num_registro'" width="70" filter="{ 'num_registro': 'text' }">
                <span >{{res.num_registro}}</span>
            </td>
            <td data-title="'Acciones'" width="30">
                <a ng-click="ver(res);" class="btn btn-primary btn-xs" >
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
            </td>
        </tr>
    </table>
</div>


<script type="text/ng-template" id="modalResolucion">
	<div>
        <div class="modal-header">
             <h3 class="modal-title">Ingrese los datos de la Resolución</h3>
        </div>
		<div class="modal-body">
			<form novalidate name="formOpcion" >
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="organo">Organo </label>
                            <select ng-disabled="disable" ng-model="res.idOrgano" id="organo" ng-options="u.id as u.organo for u in organos" class="form-control" required=""></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="documento">Documento </label>
                            <select ng-disabled="disable" ng-options="item.id as item.nombre for item in documentos" ng-model="res.idDoc" id="documento"  class="form-control" required=""></select>
                        </div>
                    </div>
                </div>
				<div class="row">
					<div class="col-md-6">
                        <div class="form-group">
                            <label for="idProyecto">Proyecto</label>
                            <select ng-disabled="disable" ng-model="res.idProyecto" id="idProyecto" ng-options="u.id as u.nombre for u in proyectos" class="form-control" required=""></select>
                        </div>
						<div class="form-group">
							<label for="num_registro">Número de registro</label>
							<input ng-disabled="disable" ng-model="res.num_registro" type="text" class="form-control" id="num_registro" placeholder="Número de Registro" required/>
						</div>
						<div class="form-group">
							<label for="tema">Tema</label>
                            <select ng-disabled="disable" ng-model="res.idTema" id="tema" ng-options="u.id as u.tema for u in temas" class="form-control" required=""></select>
						</div>
						<div class="form-group">
							<label for="sinopsis">Sinopsis</label>
							<input ng-disabled="disable" ng-model="res.sinopsis" type="text" class="form-control" id="sinopsis" placeholder="Sinopsis" required/>
						</div>
					</div>
					<div class="col-md-6">
                        <div class="form-group">
                            <label >Fecha</label>
                            <div class="col-md-12 fecha ">
                                <select ng-disabled="disable" ng-init="res.dia = today.day" ng-options="i for i in dias" ng-model="res.dia" id="dia" class="form-control"></select>
                                <select ng-disabled="disable" ng-init="res.mes = today.month" ng-options="i.id as i.nombre for i in meses" ng-model="res.mes" id="mes" class="form-control"></select>
                                <select ng-disabled="disable" ng-init="res.anio = today.year" ng-options="i for i in anios" ng-model="res.anio" id="anios" class="form-control"></select>
                            </div>
                        </div>
					</div>
                    <div class="col-lg-5" style="height: 34px;">
                        <input  class="form-control" type="text" ng-model="nombre" placeholder="Nombre"/>
                        <br/>
                    </div>
                    <!--<div class="col-lg-1 btn btn2 btn-default ">-->
                    <label for="upload" style="width: 6%" class="col-lg-1 btn btn2 btn-default ">
                        <span class="glyphicon glyphicon-file"></span>
                    </label>
                    <div class="col-lg-6">
                        <small><strong>Nombre archivo:</strong><em>{{nombreFile}}</em></small>
                    </div>
                    <input nv-file-select="" uploader="uploader" type="file" accept="application/pdf,image/jpeg,image/png" id="upload" ng-show="false">
				</div>
			</form>
		</div>
		<div class="modal-footer">
            <button class="btn btn2 btn-primary" ng-if="disable" ng-disabled="uploader.queue.length == 1" ng-click="subir()">Aceptar</button>
			<button class="btn btn2 btn-primary" ng-if="!disable" ng-disabled="!formOpcion.$valid" ng-click="ok()">Aceptar</button>
			<button class="btn btn2 btn-warning" ng-click="cancel()">Cancelar</button>
		</div>
	</div>
</script>