<div>
    <br/>
    <section class="form-inline">
        <button ng-click="limpiar()" class="btn btn-default pull-right">Limpiar filtro</button>
        <button type="button" class="btn btn-primary pull-right" ng-model="filtro" btn-checkbox>
            <span class="glyphicon glyphicon-filter"></span>
        </button>
        <button ng-click="agregar()" class="btn btn-primary"><i class="icon-white icon-plus"></i> Agregar rol</button>
    </section>
    <br/>
    <table ng-table="tableRoles"  show-filter="filtro" class="table table-striped">
        <tr ng-repeat="rol in $data">
            <td data-title="'Nombre'" sortable="'nombre'" filter="{ 'nombre': 'text' }">
                <span >{{rol.nombre}}</span>
            </td>
            <td data-title="'Acciones'" width="125">
                <a ng-click="editar(rol.id); rol.$edit = true" class="btn btn-primary btn-xs" >
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a ng-click="eliminar(rol.id,$index)" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
        </tr>
    </table>
    <script type="text/ng-template" id="modelRoles">
        <div>
            <div class="modal-header">
                <h3 class="modal-title">Ingrese los datos</h3>
            </div>
            <div class="modal-body">
                <form novalidate name="formRol" >
                    <div class="form-group">
                        <label for="nombre">Nombre de rol</label>
                        <input ng-model="rol.nombre" name="nombre" type="text" class="form-control" id="nombre" placeholder="Nombre de rol" required/>
                    </div>
                    <div class="form-group">
                        <label for="permiso">Permisos </label>
                        <div class="input-group">
                            <select name="permiso" class="form-control" ng-options="opcion.nombre for opcion in opciones  | filter: {visible : true}" id="permiso" ng-model="permiso"></select>
                            <span class="input-group-btn">
                                <button class="btn btn-primary" ng-disabled="permiso.id == undefined" ng-click="agregarOpcion(permiso)"><span class="glyphicon glyphicon-plus"></span></button>
                            </span>
                        </div>
                    </div>
                </form>
                <div>
                    <ul class="list-group" >
                        <li ng-if="opcionesRol.length > 0 " ng-repeat="opcion in opcionesRol" class="list-group-item">
                            {{opcion.opcion}}
                            <button type="button" ng-click="eliminarOpcion(opcion.idopcion)"  class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </li>
                        <li ng-if="newOpcionesRol.length > 0" ng-repeat="opcion in newOpcionesRol" class="list-group-item">
                            {{opcion.opcion}}
                            <button type="button" ng-click="eliminarOpcion(opcion.idopcion)" class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-disabled="!formRol.$valid" ng-click="ok()">Aceptar</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
            </div>
        </div>
    </script>
</div>