/*
 * Created by PhpStorm.
 * User: josec
 * Date: 11/2/2015
 * Time: 10:18 PM
 */

.panel.comentario
  position relative
  .nombre
    font-size 0.85em
    color gray
  .fecha
    position absolute
    bottom 15px
    right 15px
    font-size 0.85em
    color gray
  p
    border-left 3px solid  gray
    border-radius 2spx
    padding 5px
    padding-left 10px
    margin 5px
