<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <button ng-if="pregunta.secretario == 'S'" class="btn btn2 btn-primary" ng-click="responder()">responder</button>
        <br/>
        <br/>
        <div class="panel panel-default">
            <div class="panel-body">
                <label>Pregunta:</label>
                <p>{{pregunta.pregunta}}</p>
            </div>
        </div>
        <hr/>
        <div>
            <textarea class="form-control" ng-model="pregunta.newComentario" rows="3" placeholder="Ingrese aqui su comentario"></textarea>
            <br/>
            <button class="btn btn2 btn-success" ng-disabled="!pregunta.newComentario" ng-click="comentar()">
                <span ng-if="!uploading">Comentar</span>
                <span ng-if="uploading" class="glyphicon glyphicon-refresh load active"></span>
            </button>
        </div>
        <br/>
        <div class="panel panel-default comentario" ng-repeat="c in pregunta.comentarios">

            <div class="panel-body">
                <div class="nombre">
                    {{c.nombres}} {{c.apellidos}} comento:
                </div>
                <p>{{c.comentario}}</p>
                <div>
                    <span class="fecha">{{ timeFromNow(c.fecha_coment) }}</span>
                </div>
            </div>


        </div>
    </div>


</div>



<script type="text/ng-template" id="responder.modal">
    <div class="modal-header">
        <h3 class="modal-title">Ingrese su respuesta</h3>
    </div>
    <div class="modal-body">
        <label>Pregunta:</label>
        <div>{{pregunta.pregunta}}</div>
        <br/>
        <div class="form-group">
            <label >Respuesta</label>
            <textarea ng-model="pregunta.respuesta" class="form-control"  placeholder="Ingrese aqui su respuesta" required></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn2 btn-primary" ng-disabled="!pregunta.respuesta" ng-click="responder()">
            <span ng-if="!uploading">Responder</span>
            <span ng-if="uploading" class="glyphicon glyphicon-refresh load active"></span>
        </button>
        <button class="btn btn2 btn-warning" ng-click="cancel()">Cancelar</button>
    </div>
</script>