<div ng-controller="usuariosCtrl">
    <br/>
    <section class="form-inline">
        <button ng-click="limpiar()" class="btn btn-default pull-right">Limpiar filtro</button>
        <button type="button" class="btn btn-primary pull-right" ng-model="filtro" btn-checkbox>
            <span class="glyphicon glyphicon-filter"></span>
        </button>
        <button ng-click="agregar()" class="btn btn-primary"><i class="icon-white icon-plus"></i> Agregar usuario</button>
    </section>
    <br/>
    <table ng-table="tableUsuarios"  show-filter="filtro" class="table table-striped">
        <tr ng-repeat="usuario in $data">
            <td data-title="'Nombre usuario'" sortable="'nombre'" filter="{ 'nombre': 'text' }">
                <span >{{usuario.nombre}}</span>
            </td>
            <td data-title="'Nombres'" sortable="'nombres'" filter="{ 'nombres': 'text' }">
                <span >{{usuario.nombres}}</span>
            </td>
            <td data-title="'Apellidos'" sortable="'apellidos'" filter="{ 'apellidos': 'text' }">
                <span >{{usuario.apellidos}}</span>
            </td>
           <!-- <td data-title="'Contraseña'" sortable="'clave'" filter="{ 'clave': 'text' }">
                <span >{{usuario.clave}}</span>
            </td>-->
            <td data-title="'Rol'" sortable="'clave'" filter="{ 'rol': 'text' }">
                <span >{{usuario.rol}}</span>
            </td>
            <td data-title="'Organizacion'" sortable="'clave'" filter="{ 'organizacion': 'text' }">
                <span >{{usuario.organizacion}}</span>
            </td>
            <td data-title="'Estado'" sortable="'nombreEstado'" filter="{ 'nombreEstado': 'text' }">
                <span >{{usuario.nombreEstado}}</span>
            </td>
            <td data-title="'Correo'" sortable="'email'" filter="{ 'email': 'text' }">
                <span >{{usuario.email}}</span>
            </td>
            <td data-title="'Fecha'" sortable="'fecha'" filter="{ 'fecha': 'text' }">
                <span >{{usuario.fecha | date:'dd-MM-yyyy HH:mm:ss'}}</span>
            </td>
            <td data-title="'Acciones'" width="125">
                <a ng-click="editar(usuario.id); usuario.$edit = true" class="btn btn-primary btn-xs" >Editar</a>
                <a ng-click="eliminar(usuario.id,$index)" class="btn btn-default btn-xs">Eliminar</a>
            </td>
        </tr>
    </table>
</div>